# This is a basic workflow to help you get started with Actions

name: Download picture of the day

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Download picture of the day
        run: |
          cd docs; mkdir images; cd images
          curl $(curl https://www.bing.com 2>&1 | grep -oP '"og:image".{0,100}' | grep -oP 'content=".{0,}' | cut -d '"' -f2 | cut -d '&' -f1) -o $(date +%F).jpg
          git config --global user.email "54408289+wackyblackie@users.noreply.github.com"
          git config --global user.name "wackyblackie"
          git add $(date +%F).jpg
          git commit -m "Add picture for $(date +%F)"
